@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  top: -8px;
  overflow-x: hidden;
}

#nav-bar {
  position: fixed;
  background: #3c3a39;
  width: 375px;
  height: 60px;
  z-index: 1;
}

.portfolio {
  display: none;
}

/* menu */
.menu-close {
  position: absolute;
  width: 20px;
  top: 20px;
  right: 20px;
}

.nemubar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  gap: 10px;
  width: 100%;
  height: 100vh;
  background: #3c3a39;
  mix-blend-mode: normal;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  padding-top: 20%;
  padding-left: -20%;
}

.nemubar a {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: flex-start;
  height: 6%;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: flex-start;
  color: #fff5e1;
  text-decoration: none;
  margin-left: 40px;
  border-bottom: 1px solid #6f6c6b;
  padding-top: 20px;
  padding-bottom: 10px;
}

.popupSeconContainer > button > a {
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.nemubar a:hover {
  color: #e05304;
}

.nemubar #mail-box {
  display: none;
}

/* end menu */
#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 12px;
  position: absolute;
  width: 101px;
  height: 44px;
  left: 12px;
  top: calc(50% - 44px / 2);
}

#logo .name {
  width: 90px;
  text-decoration: solid;
  height: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#side-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 28px;
  right: 24px;
  top: 6px;
  border-radius: 8px;
}

#side-bar:hover {
  background-color: #ff6b00;
}

#side-bar:active {
  background-color: #3c3a39;
}

#victor1 {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 70.83%;
  bottom: 29.17%;
  border: 2px solid #acb7c3;
}

#victor2 {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 50%;
  bottom: 50%;
  border: 2px solid #acb7c3;
}

#victor3 {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 29.17%;
  bottom: 70.83%;
  border: 2px solid #acb7c3;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 600px;
  background: #1c1a19;
  background-image: url(img/backroud.svg);
  background-repeat: no-repeat;
  background-position: bottom -34px right;
  padding-top: 60px;
}

.header h1 {
  width: 327px;
  font-family: "Crete Round", sans-serif;
  justify-content: center;
  font-weight: 200;
  font-size: 50px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-left: 10px;
  margin-top: 120px;
  margin-bottom: -10px;
}

.header h2 {
  width: 327px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  text-align: center;
  color: #fff5e1;
  margin-left: 15px;
}

.header p {
  width: 327px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 15px;
}

.work {
  display: grid;
  grid-template-columns: 1fr;
  padding: 120px 8px;
  width: 375px;
  height: auto;
  top: 400px;
  margin: 0;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 20px;
  margin-left: -90px;
  flex: none;
  order: 3;
  flex-grow: 0;
  list-style: none;
}

.title2 {
  width: 327px;
  height: 83px;
  margin-left: 3%;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  border-bottom: 1px solid #212121;
  padding-bottom: 20px;
}

.project0 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px 8px;
  width: 375px;
  height: 568px;
  flex: none;
  order: 0;
  top: -15px;
  margin-left: 3%;
  flex-grow: 0;
  background: url(img/project0.svg);
  background-repeat: no-repeat;
  background-position: top 5px left 5px;
  background-size: 300px 350px;
  background-attachment: local;
}

.project0 .info-project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px;
  gap: 12px;
  margin-top: 210px;
  width: 327px;
  height: 307px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.about h2 {
  text-align: center;
  width: 375px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-top: 120px;
}

.linfo h2 {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.popupSeconContainer h3 {
  width: 259px;
  height: 82px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding-left: 2%;
}

.project0 .info-project h3 {
  width: 327px;
  height: 36px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.form p {
  width: 327px;
  height: 216px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 80px;
}

.about .par {
  width: 327px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  margin-left: 10%;
  margin-top: -40px;
}

.popupSeconContainer p {
  width: 311px;
  height: 220px;
  text-align: start;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: -20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10%;
}

.linfo p {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: -10px;
}

.project0 .info-project p {
  width: 327px;
  height: auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  margin-top: -30px;
}

.project0 .tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  gap: 12px;
  width: 297px;
  height: auto;
  flex: none;
  order: 2;
  margin-top: -58px;
}

.project0 .tags .css {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
}

.project0 .tags .html {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 1;
}

.project0 .tags .boot {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 2;
}

.project0 .tags .ruby {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 3;
}

.project0 .click {
  display: block;
  align-items: center;
  padding: 12px;
  top: 10px;
  font-weight: 700;
  font-size: medium;
  width: 124px;
  height: 48px;
  text-decoration: none;
  background: #ff6b00;
  color: #fff;
  border: none;
  order: 3;
  cursor: pointer;
}

.click:hover {
  color: #ff6b00;
  background-color: #fff;
}

.click:active {
  color: #fff;
  background-color: #ff6b00;
}

/* ******Grid project********* */
.project-grid {
  display: grid;
  grid-template-columns: auto;
  gap: 24px;
  margin-top: 40px;
  justify-content: center;
  margin-left: -45px;
}

.project {
  width: 305px;
  height: 130px;
  background-image:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(img/projectimg.svg);
}

.linfo {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  gap: 12px;
  width: 300px;
  margin-top: -100px;
  margin-bottom: -10px;
}

.linfo .lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  gap: 12px;
  width: 236px;
  height: 40px;
  order: 2;
  flex-grow: 0;
  margin-top: -10px;
}

.linfo .lang .ht {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 45px;
  height: 20px;
  justify-content: center;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #fff;
}

.linfo .lang .bo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 60px;
  height: 20px;
  background: rgba(255, 255, 255, 0.24);
  order: 1;
  color: #fff;
}

.linfo .lang .ru {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 45px;
  height: 20px;
  background: rgba(255, 255, 255, 0.24);
  order: 2;
  color: #fff;
}

.project .but {
  width: 321px;
  height: 45px;
  background: #ff6b00;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-left: -8px;
  cursor: pointer;
}

.project .but:hover {
  color: #ff6b00;
  background-color: #fff;
}

.project .but:active {
  color: #fff;
  background-color: #ff6b00;
}

/* *******about***** */
.about {
  display: grid;
  width: 375px;
  height: auto;
  background: #1c1a19 url(img/Frame.svg);
  background-repeat: no-repeat;
  background-position: top 440px right -80px;
  background-size: 280px 280px;
  background-attachment: local;
  padding-bottom: 30px;
}

.about .abouut {
  display: grid;
  flex-direction: row;
  align-items: center;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border: none;
  margin-left: 15%;
  cursor: pointer;
}

.about .abouut:hover {
  color: #ff6b00;
  background-color: #fff;
}

.about .abouut:active {
  color: #fff;
  background-color: #ff6b00;
}

.about .me {
  display: grid;
  height: auto;
  width: 100%;
}

.about .langue {
  display: grid;
  height: auto;
  grid-area: auto;
  width: 100%;
  order: 1;
  left: 10px;
  padding: 10px;
  background: url(img/lines.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 300px 2px;
  background-attachment: local;
  margin-top: 290px;
}

.about .langue .Eng {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 2px;
  gap: 24px;
  width: 329px;
  height: auto;
}

.langue .title0 {
  display: grid;
  width: 240px;
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  justify-content: center;
  color: #fff;
  margin-left: 80px;
  background: url(img/1r.svg);
  background-repeat: no-repeat;
  background-position: left -2px center;
  background-size: 30px 30px;
  background-attachment: local;
}

.langue .title1 {
  display: grid;
  width: 270px;
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-left: 90px;
  background: url(img/2r.svg);
  background-repeat: no-repeat;
  background-position: left -3px center;
  background-size: 25px 25px;
  background-attachment: local;
}

.langue ul li {
  width: 114px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 43px;
  display: flex;
  justify-content: center;
  color: #fcf8f6;
  left: 30px;
  list-style: none;
  margin: 12px auto;
}

.langue .title2 {
  display: grid;
  width: 220px;
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  justify-content: center;
  color: #fff;
  order: 2;
  flex-grow: 0;
  margin-left: 100px;
  background: url(img/3r.svg);
  background-repeat: no-repeat;
  background-position: left -1px center;
  background-size: 30px 30px;
  background-attachment: local;
}

/* **********form****** */
.footer {
  display: flex;
  grid-template-columns: 1fr;
  width: 375px;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #dfe1e6;
  margin-top: 40px;
}

.footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  flex: none;
  list-style: none;
  margin-left: -10px;
}

.footer ul li {
  width: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: auto;
  gap: 20px;
  padding: 2px;
  padding-top: 60px;
}

.form form {
  display: flex;
  flex-direction: column;
  width: 327px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-left: 5px;
}

.forte {
  width: 327px;
  height: 48px;
  flex: none;
  margin-top: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid #dbd8d7;
}

.forte::placeholder {
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #979493;
}

.form textarea {
  width: 327px;
  height: 114px;
  margin-top: 20px;
  border-style: hidden;
  background-color: #fbf8f7;
  padding: 12px;
}

.text-area::placeholder {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #3c3a39;
}

.popupSeconContainer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 270px;
  height: 36px;
  padding-left: 4%;
  margin-top: -15%;
  margin-bottom: -5%;
}

#form1 ul {
  list-style: none;
}

.form button {
  display: flex;
  flex-direction: row;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  color: #fff;
  margin-left: 15%;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.submit-btn:active {
  background-color: #e05304;
  color: #fff;
}

/* ********************************* */
.popupcontainer {
  display: none;
  text-align: center;
  width: 375px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(151, 148, 147, 0.8);
}

.popupSeconContainer {
  margin: 1% auto;
  display: flex;
  width: 90%;
  height: 96%;
  gap: 24px;
  flex-direction: column;
  background-color: #fff;
}

.popupSeconContainer span {
  position: absolute;
  right: 9%;
  top: 7%;
  width: 6%;
  height: 3.5%;
  cursor: pointer;
  color: #1c1a19;
}

.popupSeconContainer span:hover {
  border: 1px solid #67798e;
}

.popupSeconContainer ul li {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70px;
  height: 36px;
  justify-content: center;
  list-style: none;
  border: 1px solid #979493;
}

.popupSeconContainer > img {
  width: 311px;
  height: max-content;
  margin-left: 3%;
}

.popupSeconContainer button {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: max-content;
  height: 48px;
  background: #ff6b00;
  border: none;
  align-items: center;
  text-align: center;
}

.popupSeconContainer .clickOne {
  position: absolute;
  bottom: 4%;
  left: 14%;
  width: 28%;
  margin-bottom: 4%;
}

.popupSeconContainer .clickTwo {
  position: absolute;
  right: 14%;
  bottom: 4%;
  margin-bottom: 4%;
}

.popupSeconContainer button img {
  width: 18px;
  height: 18px;
  left: 3px;
  top: 3px;
  margin-top: -5%;
}

/* **********dESKTOP VERSION********* */
@media (min-width: 768px) {
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  #nav-bar {
    position: fixed;
    background: #3c3a39;
    width: 100%;
    height: 60px;
    z-index: 1;
  }

  #logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Inter", sans-serif;
    justify-content: center;
    position: absolute;
    width: 116px;
    height: 44px;
    font-weight: 700;
    font-size: 50px;
    line-height: 20px;
    margin-left: 100px;
  }

  #side-bar {
    display: none;
  }

  .portfolio {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin-right: 20px;
  }

  .portfolio a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-end;
    padding: 10px 12px;
    gap: 10px;
    width: 87px;
    height: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }

  .portfolio a:hover {
    color: #e05304;
  }

  .menu-close {
    visibility: hidden;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 650px;
    top: 60px;
    background: #1c1a19;
    background-image: url(Desktopimg/backg.svg);
    background-repeat: no-repeat;
    background-position: bottom -60px right -90px;
    background-size: 800px 800px;
  }

  .header-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 80px 1px;
    width: 566px;
    height: 739px;
    margin-left: 160px;
  }

  .header h1 {
    width: 566px;
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    letter-spacing: 0.37px;
    color: #f55800;
    justify-content: center;
    align-items: center;
    margin-bottom: -25px;
  }

  .header h2 {
    width: 566px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    text-align: center;
    color: #fff;
  }

  .header p {
    width: 566px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 200px;
    height: 20px;
    margin-left: 10px;
    flex: none;
    order: 3;
    gap: 20px;
    position: absolute;
    list-style: none;
    margin-top: 260px;
  }

  /* *******work section****** */
  .work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 24px;
    gap: 114px;
    width: 100%;
    margin: 0;
  }

  .container-title2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 1133px;
    height: 52px;
    margin-top: -10px;
    background: url(Desktopimg/title0.svg);
    background-repeat: no-repeat;
    background-position: center left 300px;
    background-attachment: local;
  }

  .title2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 1133px;
    height: 52px;
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    border: none;
    margin-left: -30px;
  }

  .project0 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    background: url(Desktopimg/project0.svg);
    background-repeat: no-repeat;
    background-position: left top 20px;
    background-size: 680px 448px;
    padding: 1px 1px;
    gap: 24px;
    width: 1156px;
    margin-top: 30px;
    margin-bottom: -4%;
  }

  .project0 .info-project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    order: 1;
    padding: 0;
    gap: 24px;
    width: 448px;
    height: 330px;
    margin-top: -15px;
    margin-left: 10px;
  }

  .popupSeconContainer h3 {
    width: 80%;
    height: 4%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    text-align: start;
    margin-top: -10px;
    margin-left: -15px;
  }

  .project0 .info-project h3 {
    width: 448px;
    height: 48px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .popupSeconContainer p {
    width: 400px;
    height: 336px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
    text-align: start;
    position: absolute;
    right: 1%;
    margin-top: 12%;
  }

  .form p {
    width: 455px;
    height: 256px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    text-align: left;
    align-items: flex-start;
    color: #262626;
    margin-left: 100px;
  }

  .project0 .info-project p {
    width: 448px;
    height: 140px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
    margin-top: -40px;
  }

  .project0 .tags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 300px;
    height: 40px;
    margin-right: 145px;
  }

  .project0 .click {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 10px;
    width: 124px;
    height: 48px;
    margin-top: -10px;
    margin-right: 320px;
    cursor: pointer;
  }

  /* ******project Grid Desktop****** */
  .project-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 25px;
    row-gap: 10px;
    justify-content: center;
    margin-top: -130px;
    width: 100%;
  }

  .project {
    width: 360px;
    height: 435px;
    padding: 1px 1px;
    background-image: url(img/projectimg.svg);
    background-repeat: no-repeat;
  }

  .linfo {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    gap: 12px;
    width: 300px;
    height: 80%;
    margin-bottom: -50%;
  }

  .linfo .low {
    width: 337px;
    height: 38px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .linfo .lang {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px;
    gap: 12px;
    width: 236px;
    height: 40px;
    order: 2;
    flex-grow: 0;
  }

  .linfo .lang .ht {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    justify-content: center;
    width: 45px;
    height: 20px;
    background: rgba(255, 255, 255, 0.24);
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #fff;
  }

  .linfo .lang .bo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 60px;
    height: 20px;
    background: rgba(255, 255, 255, 0.24);
    order: 1;
    color: #fff;
  }

  .linfo .lang .ru {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 45px;
    height: 20px;
    background: rgba(255, 255, 255, 0.24);
    order: 2;
    color: #fff;
  }

  .project .but {
    width: 362px;
    height: 58px;
    background: #f55800;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    border: none;
    margin-left: 1px;
    margin-bottom: -1px;
    cursor: pointer;
  }

  .project .but:hover {
    color: #ff6b00;
    background-color: #fff;
  }

  .project .but:active {
    color: #fff;
    background-color: #ff6b00;
  }

  #project1 {
    display: flex;
    justify-content: end;
    border: 2px solid #091e42;
    filter: drop-shadow(0.1px 48px 48px rgba(37, 47, 137, 0.08));
    background-image: url(Desktopimg/project1.svg);
    background-repeat: no-repeat;
  }

  #project2 {
    display: flex;
    justify-content: end;
    background-image: url(Desktopimg/project2.svg);
    background-repeat: no-repeat;
  }

  #project3 {
    display: flex;
    justify-content: end;
    background-image: url(Desktopimg/project3.svg);
    background-repeat: no-repeat;
  }

  #project4 {
    display: flex;
    justify-content: end;
    background-image: url(Desktopimg/project456.svg);
    background-repeat: no-repeat;
  }

  #project5 {
    display: flex;
    justify-content: end;
    background-image: url(Desktopimg/project2.svg);
    background-repeat: no-repeat;
  }

  #project6 {
    display: flex;
    justify-content: end;
    background-image: url(Desktopimg/project3.svg);
    background-repeat: no-repeat;
  }

  /* ******About*********** */
  .about {
    display: grid;
    grid-column: auto;
    width: 100%;
    height: auto;
    background: #262626;
    background-image: url(Desktopimg/backgroundabout.svg);
    background-repeat: no-repeat;
    background-position: top 100px right -100px;
    background-size: 674px 354px;
    justify-content: flex-start;
  }

  .about .me {
    display: grid;
    width: 100%;
    height: auto;
  }

  .about h2 {
    width: 566px;
    height: 78px;
    color: #f55800;
    margin-left: -20px;
  }

  .about .par {
    width: 566px;
    height: 148px;
    color: #f4f5f7;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  .about .abouut {
    display: grid;
    flex-direction: row;
    align-items: center;
    width: 161px;
    height: 48px;
    background: #f55800;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border: none;
    margin-left: 10%;
    cursor: pointer;
  }

  .about .abouut:hover {
    color: #ff6b00;
    background-color: #fff;
  }

  .about .abouut:active {
    color: #fff;
    background-color: #ff6b00;
  }

  /* *******skils-section******** */
  .about .langue {
    display: grid;
    height: auto;
    grid-area: auto;
    width: 100%;
    order: 1;
    left: 10px;
    padding: 10px;
    margin-left: 5%;
    background: url(img/lines.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1200px 2px;
    background-attachment: local;
    margin-top: 100px;
  }

  .about .langue .Eng {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 124px;
    margin-left: 20px;
    width: 100%;
    height: auto;
    margin-top: 100px;
  }

  #langue #title01 {
    font-family: "InaiMathi", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    justify-content: flex-end;
    color: #fff;
    margin-top: 0;
    margin-left: 0;
    background: url(img/1r.svg);
    background-repeat: no-repeat;
    background-position: left -2px center;
    background-size: 30px 30px;
    background-attachment: local;
  }

  #langue .title1 {
    width: 270px;
    font-family: "InaiMathi", sans-serif;
    font-style: normal;
    font-weight: 700;
    justify-content: flex-end;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-top: 0;
    margin-left: 0;
    background: url(img/2r.svg);
    background-repeat: no-repeat;
    background-position: left -3px center;
    background-size: 25px 25px;
    background-attachment: local;
  }

  #langue .title2 {
    width: 220px;
    font-family: "InaiMathi", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    justify-content: center;
    color: #fff;
    order: 2;
    margin-top: 0;
    margin-left: 0;
    background: url(img/3r.svg);
    background-repeat: no-repeat;
    background-position: left -1px center;
    background-size: 30px 30px;
    background-attachment: local;
  }

  .footer ul li {
    width: 60px;
  }

  .popupSeconContainer ul li {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 70px;
    height: 36px;
    justify-content: center;
    list-style: none;
    border: 1px solid #979493;
  }

  #langue ul li {
    width: 114px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    list-style: none;
    margin: 12px auto;
  }

  /* ***********contact form******* */
  .footer {
    display: flex;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #dfe1e6;
    margin-top: 40px;
  }

  .footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    flex: none;
    list-style: none;
    margin-left: -10px;
  }

  .form {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 2px;
    padding-top: 60px;
    margin-bottom: 150px;
  }

  .form form {
    display: flex;
    flex-direction: column;
    width: 327px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 5px;
  }

  .forte {
    width: 684px;
    height: 48px;
    flex: none;
    margin-top: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid #dbd8d7;
  }

  .forte::placeholder {
    padding: 12px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #979493;
  }

  .form textarea {
    width: 684px;
    height: 114px;
    margin-top: 20px;
    border-style: hidden;
    background-color: #fbf8f7;
    padding: 12px;
  }

  .text-area::placeholder {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #3c3a39;
  }

  .popupSeconContainer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 270px;
    height: 36px;
    margin-top: -0.2%;
    margin-left: -4%;
  }

  #form1 ul {
    list-style: none;
  }

  .form button {
    display: flex;
    flex-direction: row;
    width: 131px;
    height: 48px;
    background: #ff6b00;
    flex: none;
    order: 3;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    border: none;
    color: #fff;
    margin-left: -520px;
    cursor: pointer;
  }

  .project:hover {
    transform: scale(1.15);
    transform-origin: 1%;
    transition-duration: 1s;
  }

  /* ********************************* */
  .popupcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(151, 148, 147, 0.8);
  }

  .popupSeconContainer {
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 25px;
    background-color: #fff;
  }

  .popupSeconContainer span {
    position: absolute;
    right: 1%;
    top: 4%;
    width: 6%;
    height: 3.5%;
    cursor: pointer;
  }

  .popupSeconContainer span:hover {
    border: 1px solid #67798e;
  }

  .popupSeconContainer img {
    position: absolute;
    width: 690px;
    height: 600px;
    top: 20%;
    left: -2%;
    padding-bottom: 20%;
  }

  .popupSeconContainer button {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 10%;
    height: 48px;
    background: #ff6b00;
    border: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .popupSeconContainer .clickOne {
    position: absolute;
    bottom: -2%;
    margin-left: 50%;
    width: max-content;
  }

  .popupSeconContainer .clickTwo {
    position: absolute;
    right: 14%;
    bottom: -2%;
    width: max-content;
  }

  .popupSeconContainer button img {
    width: 18px;
    height: 18px;
    position: relative;
    right: 0;
    top: 20%;
  }

  .error-message {
    color: rgb(236, 11, 11);
    position: absolute;
    width: max-content;
    padding-top: 100px;
  }
}
